In [44]:
import pandas as pd

In [45]:
# Load the CSV file into a DataFrame
df = pd.read_csv('Toko Buah _MELON ;)_.csv', delimiter=',')
df.head(20)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1,-1.0,0.0,7.0,NaN,NaN,engga tahu
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.0,0.0,0.0,10.0,NaN,140000
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.0,0.0,0.0,0.0,0.0,10000
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.0,23.0,4.0,0.0,12.0,629000
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.0,0.0,10000.0,NaN,NaN,200000000
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,2.0,3.0,4.0,5.0,0.0,210000
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,2.0,4.0,1.0,2.0,3.0,177000
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,100.0,75.0,20.0,50.0,34.0,3753000

In [46]:
df['Harga Total'] = pd.to_numeric(df['Harga Total'], errors='coerce')
df.head()

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1,-1.0,0.0,7.0,NaN,NaN,NaN
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.0,0.0,0.0,10.0,NaN,140000.0
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.0,0.0,0.0,0.0,0.0,10000.0
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.0,23.0,4.0,0.0,12.0,629000.0
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.0,0.0,10000.0,NaN,NaN,200000000.0

In [47]:
# Replace negative values in "Jumlah" columns with 0
jumlah_columns = [
    'Jumlah pesanan Jeruk :',
    'Jumlah pesanan Salak:',
    'Jumlah pesanan Rambutan:',
    'Jumlah pesanan Kelengkeng :',
    'Jumlah pesanan Blimbing :'
]

# Remove extra spaces and special characters from column names
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces

for col in jumlah_columns:
    col = col.strip()  # Remove leading/trailing spaces from column name
    df[col] = df[col].apply(lambda x: max(x, 0))

# Replace NaN values in "Jumlah" columns with 0
df[jumlah_columns] = df[jumlah_columns].fillna(0)

# Drop rows with NaN values in "Harga Total" column
df.dropna(subset=['Harga Total'], inplace=True)

df.head()

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.0,0.0,0.0,10.0,0.0,140000.0
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.0,0.0,0.0,0.0,0.0,10000.0
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.0,23.0,4.0,0.0,12.0,629000.0
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.0,0.0,10000.0,0.0,0.0,200000000.0
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,2.0,3.0,4.0,5.0,0.0,210000.0

In [48]:
df2 = df.copy()
min_harga_total = df2['Harga Total'].min()
max_harga_total = df2['Harga Total'].max()
df2['Harga Total'] = (df2['Harga Total'] - min_harga_total) / (max_harga_total - min_harga_total)

# Perform min-max normalization on "Jumlah" columns
for col in jumlah_columns:
    min_val = df2[col].min()
    max_val = df2[col].max()
    df2[col] = (df2[col] - min_val) / (max_val - min_val)

# Save the cleaned and normalized DataFrame to a new CSV file
df2.to_csv('minMaxNormalized_data.csv', index=False)
df2.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,0.01,0.000000,0.0000,0.20,0.000000,0.000650
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,0.01,0.000000,0.0000,0.00,0.000000,0.000000
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.00,0.306667,0.0004,0.00,0.352941,0.003095
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.00,0.000000,1.0000,0.00,0.000000,1.000000
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,0.02,0.040000,0.0004,0.10,0.000000,0.001000
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,0.02,0.053333,0.0001,0.04,0.088235,0.000835
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,1.00,1.000000,0.0020,1.00,1.000000,0.018716

In [49]:
df3 = df.copy()
# Z-score normalization on "Harga Total" column
mean_harga_total = df3['Harga Total'].mean()
std_harga_total = df3['Harga Total'].std()
df3['Harga Total'] = (df3['Harga Total'] - mean_harga_total) / std_harga_total

# Z-score normalization on "Jumlah" columns
for col in jumlah_columns:
    mean_val = df3[col].mean()
    std_val = df3[col].std()
    df3[col] = (df3[col] - mean_val) / std_val

# Save the cleaned and normalized DataFrame to a new CSV file
df3.to_csv('zScoreNormalized_data.csv', index=False)
df3.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,-0.377875,-0.541501,-0.379243,0.023546,-0.551677,-0.386935
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,-0.377875,-0.541501,-0.379243,-0.525866,-0.551677,-0.388661
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,-0.404593,0.288801,-0.378184,-0.525866,0.394055,-0.380440
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,-0.404593,-0.541501,2.267783,-0.525866,-0.551677,2.267435
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,-0.351156,-0.433201,-0.378184,-0.251160,-0.551677,-0.386005
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,-0.351156,-0.397101,-0.378979,-0.415984,-0.315244,-0.386443
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,2.267247,2.166004,-0.373949,2.221197,2.127898,-0.338950