In [17]:
import pandas as pd
import numpy as np

In [18]:
# Load the CSV file into a DataFrame
df = pd.read_csv('Toko Buah _MELON ;)_.csv', delimiter=',')
df.head(20)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1,-1.00,0.0,7.0,NaN,NaN,engga tahu
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.00,0.0,0.0,10.0,NaN,140000
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.00,0.0,0.0,0.0,0.00,10000
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.00,23.0,4.0,0.0,12.00,629000
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.00,0.0,10000.0,NaN,NaN,200000000
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,2.00,3.0,4.0,5.0,0.00,210000
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,2.00,4.0,1.0,2.0,3.00,177000
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,100.00,75.0,20.0,50.0,34.00,3753000
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584,3.00,10.0,7.0,2.0,4.00,414000
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,forgorðŸ’€,9.11,3.0,9.6,4.2,9.11,537570
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412,Wanita,2003-01-04,Kab. Serang,Banten,42182,5.00,1.0,2.0,3.0,0.00,144000

In [19]:
df['']

In [20]:
df['Harga Total'] = pd.to_numeric(df['Harga Total'], errors='coerce')
df.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1.0,-1.00,0.0,7.0,NaN,NaN,NaN
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1.0,1.00,0.0,0.0,10.0,NaN,140000.0
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791.0,1.00,0.0,0.0,0.0,0.00,10000.0
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441.0,0.00,23.0,4.0,0.0,12.00,629000.0
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1.0,0.00,0.0,10000.0,NaN,NaN,200000000.0
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420.0,2.00,3.0,4.0,5.0,0.00,210000.0
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323.0,2.00,4.0,1.0,2.0,3.00,177000.0
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563.0,100.00,75.0,20.0,50.0,34.00,3753000.0
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584.0,3.00,10.0,7.0,2.0,4.00,414000.0
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,NaN,9.11,3.0,9.6,4.2,9.11,537570.0

In [21]:
# Replace negative values in "Jumlah" columns with 0
jumlah_columns = [
    'Jumlah pesanan Jeruk :',
    'Jumlah pesanan Salak:',
    'Jumlah pesanan Rambutan:',
    'Jumlah pesanan Kelengkeng :',
    'Jumlah pesanan Blimbing :'
]

# Remove extra spaces and special characters from column names
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces

for col in jumlah_columns:
    col = col.strip()  # Remove leading/trailing spaces from column name
    df[col] = df[col].apply(lambda x: max(x, 0))

# Replace NaN values in "Jumlah" columns with 0
df[jumlah_columns] = df[jumlah_columns].fillna(0)

# Drop rows with NaN values in "Harga Total" column
df.dropna(subset=['Harga Total'], inplace=True)

df.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1.0,0.00,0.0,7.0,0.0,0.00,NaN
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1.0,1.00,0.0,0.0,10.0,0.00,140000.0
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791.0,1.00,0.0,0.0,0.0,0.00,10000.0
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441.0,0.00,23.0,4.0,0.0,12.00,629000.0
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1.0,0.00,0.0,10000.0,0.0,0.00,200000000.0
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420.0,2.00,3.0,4.0,5.0,0.00,210000.0
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323.0,2.00,4.0,1.0,2.0,3.00,177000.0
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563.0,100.00,75.0,20.0,50.0,34.00,3753000.0
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584.0,3.00,10.0,7.0,2.0,4.00,414000.0
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,NaN,9.11,3.0,9.6,4.2,9.11,537570.0

In [22]:
# Replace NIM values with less than 9 numbers with a placeholder (e.g., 'INVALID')
df['NIM'] = df['NIM'].apply(lambda x: x if x>215314000 and x<215314999 else '-9999')
# Replace -9999 values with NaN in the entire DataFrame
df.replace(-9999, np.nan, inplace=True)
df.dropna(subset=['NIM'], inplace=True)
df.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212.0,Pria,2023-09-06,Bantul,DI Yogyakarta,55791.0,1.0,0.0,0.0,0.0,0.0,10000.0
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190.0,Wanita,2006-09-14,Medan,Sumatra utara,227323.0,2.0,4.0,1.0,2.0,3.0,177000.0
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211.0,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563.0,100.0,75.0,20.0,50.0,34.0,3753000.0
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166.0,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584.0,3.0,10.0,7.0,2.0,4.0,414000.0
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412.0,Wanita,2003-01-04,Kab. Serang,Banten,42182.0,5.0,1.0,2.0,3.0,0.0,144000.0

In [23]:
df2 = df.copy()
min_harga_total = df2['Harga Total'].min()
max_harga_total = df2['Harga Total'].max()
df2['Harga Total'] = (df2['Harga Total'] - min_harga_total) / (max_harga_total - min_harga_total)

# Perform min-max normalization on "Jumlah" columns
for col in jumlah_columns:
    min_val = df2[col].min()
    max_val = df2[col].max()
    df2[col] = (df2[col] - min_val) / (max_val - min_val)

# Save the cleaned and normalized DataFrame to a new CSV file
df2.to_csv('minMaxNormalized_data.csv', index=False)
df2.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212.0,Pria,2023-09-06,Bantul,DI Yogyakarta,55791.0,1.000000,1.00,1.00,1.00,1.000000,1.000000
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190.0,Wanita,2006-09-14,Medan,Sumatra utara,227323.0,1.090909,1.48,1.45,1.36,1.794118,1.401550
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211.0,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563.0,10.000000,10.00,10.00,10.00,10.000000,10.000000
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166.0,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584.0,1.181818,2.20,4.15,1.36,2.058824,1.971413
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412.0,Wanita,2003-01-04,Kab. Serang,Banten,42182.0,1.363636,1.12,1.90,1.54,1.000000,1.322201

In [25]:
df3 = df.copy()
# Z-score normalization on "Harga Total" column
mean_harga_total = df3['Harga Total'].mean()
std_harga_total = df3['Harga Total'].std()
df3['Harga Total'] = (df3['Harga Total'] - mean_harga_total) / std_harga_total

# Z-score normalization on "Jumlah" columns
for col in jumlah_columns:
    mean_val = df3[col].mean()
    std_val = df3[col].std()
    df3[col] = (df3[col] - mean_val) / std_val

# Save the cleaned and normalized DataFrame to a new CSV file
df3.to_csv('zScoreNormalized_data.csv', index=False)
df3.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212.0,Pria,2023-09-06,Bantul,DI Yogyakarta,55791.0,-0.487170,-0.560723,-0.724947,-0.527642,-0.564244,-0.555399
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190.0,Wanita,2006-09-14,Medan,Sumatra utara,227323.0,-0.464190,-0.436118,-0.604122,-0.435073,-0.357813,-0.451137
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211.0,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563.0,1.787821,1.775623,1.691542,1.786578,1.775304,1.781448
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166.0,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584.0,-0.441210,-0.249210,0.120824,-0.435073,-0.289003,-0.303172
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412.0,Wanita,2003-01-04,Kab. Serang,Banten,42182.0,-0.395251,-0.529572,-0.483298,-0.388789,-0.564244,-0.471740