In [15]:
import pandas as pd
import numpy as np

In [16]:
# Load the CSV file into a DataFrame
df = pd.read_csv('Toko Buah _MELON ;)_.csv', delimiter=',')
df.head(20)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1,-1.00,0.0,7.0,NaN,NaN,engga tahu
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.00,0.0,0.0,10.0,NaN,140000
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.00,0.0,0.0,0.0,0.00,10000
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.00,23.0,4.0,0.0,12.00,629000
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.00,0.0,10000.0,NaN,NaN,200000000
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,2.00,3.0,4.0,5.0,0.00,210000
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,2.00,4.0,1.0,2.0,3.00,177000
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,100.00,75.0,20.0,50.0,34.00,3753000
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584,3.00,10.0,7.0,2.0,4.00,414000
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,forgorðŸ’€,9.11,3.0,9.6,4.2,9.11,537570
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412,Wanita,2003-01-04,Kab. Serang,Banten,42182,5.00,1.0,2.0,3.0,0.00,144000

In [17]:
df['Harga Total'] = pd.to_numeric(df['Harga Total'], errors='coerce')
df.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
0,2023/09/06 11:51:23 AM GMT+7,R,1,Pria,2023-09-07,s,d,1,-1.00,0.0,7.0,NaN,NaN,NaN
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.00,0.0,0.0,10.0,NaN,140000.0
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.00,0.0,0.0,0.0,0.00,10000.0
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.00,23.0,4.0,0.0,12.00,629000.0
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.00,0.0,10000.0,NaN,NaN,200000000.0
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,2.00,3.0,4.0,5.0,0.00,210000.0
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,2.00,4.0,1.0,2.0,3.00,177000.0
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,100.00,75.0,20.0,50.0,34.00,3753000.0
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584,3.00,10.0,7.0,2.0,4.00,414000.0
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,forgorðŸ’€,9.11,3.0,9.6,4.2,9.11,537570.0

In [18]:
# Replace negative values in "Jumlah" columns with 0
jumlah_columns = [
    'Jumlah pesanan Jeruk :',
    'Jumlah pesanan Salak:',
    'Jumlah pesanan Rambutan:',
    'Jumlah pesanan Kelengkeng :',
    'Jumlah pesanan Blimbing :'
]

# Remove extra spaces and special characters from column names
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces

for col in jumlah_columns:
    col = col.strip()  # Remove leading/trailing spaces from column name
    df[col] = df[col].apply(lambda x: max(x, 0))

# Replace NaN values in "Jumlah" columns with 0
df[jumlah_columns] = df[jumlah_columns].fillna(0)

# Drop rows with NaN values in "Harga Total" column
df.dropna(subset=['Harga Total'], inplace=True)

df.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,1.00,0.0,0.0,10.0,0.00,140000.0
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,1.00,0.0,0.0,0.0,0.00,10000.0
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.00,23.0,4.0,0.0,12.00,629000.0
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.00,0.0,10000.0,0.0,0.00,200000000.0
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,2.00,3.0,4.0,5.0,0.00,210000.0
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,2.00,4.0,1.0,2.0,3.00,177000.0
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,100.00,75.0,20.0,50.0,34.00,3753000.0
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584,3.00,10.0,7.0,2.0,4.00,414000.0
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,forgorðŸ’€,9.11,3.0,9.6,4.2,9.11,537570.0
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412,Wanita,2003-01-04,Kab. Serang,Banten,42182,5.00,1.0,2.0,3.0,0.00,144000.0

In [19]:
# Replace NIM values with less than 9 numbers with a placeholder (e.g., 'INVALID')
df['NIM'] = df['NIM'].apply(lambda x: x if x>215314000 and x<215314999 else '-9999')
# Replace -9999 values with NaN in the entire DataFrame
df.replace(-9999, np.nan, inplace=True)
df.dropna(subset=['NIM'], inplace=True)
df.head(10)

In [20]:
df2 = df.copy()
min_harga_total = df2['Harga Total'].min()
max_harga_total = df2['Harga Total'].max()
df2['Harga Total'] = (df2['Harga Total'] - min_harga_total) / (max_harga_total - min_harga_total)

# Perform min-max normalization on "Jumlah" columns
for col in jumlah_columns:
    min_val = df2[col].min()
    max_val = df2[col].max()
    df2[col] = (df2[col] - min_val) / (max_val - min_val)

# Save the cleaned and normalized DataFrame to a new CSV file
df2.to_csv('minMaxNormalized_data.csv', index=False)
df2.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,0.0100,0.000000,0.00000,0.200,0.000000,0.000650
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,0.0100,0.000000,0.00000,0.000,0.000000,0.000000
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,0.0000,0.306667,0.00040,0.000,0.352941,0.003095
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,0.0000,0.000000,1.00000,0.000,0.000000,1.000000
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,0.0200,0.040000,0.00040,0.100,0.000000,0.001000
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,0.0200,0.053333,0.00010,0.040,0.088235,0.000835
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,1.0000,1.000000,0.00200,1.000,1.000000,0.018716
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584,0.0300,0.133333,0.00070,0.040,0.117647,0.002020
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,forgorðŸ’€,0.0911,0.040000,0.00096,0.084,0.267941,0.002638
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412,Wanita,2003-01-04,Kab. Serang,Banten,42182,0.0500,0.013333,0.00020,0.060,0.000000,0.000670

In [21]:
df3 = df.copy()
# Z-score normalization on "Harga Total" column
mean_harga_total = df3['Harga Total'].mean()
std_harga_total = df3['Harga Total'].std()
df3['Harga Total'] = (df3['Harga Total'] - mean_harga_total) / std_harga_total

# Z-score normalization on "Jumlah" columns
for col in jumlah_columns:
    mean_val = df3[col].mean()
    std_val = df3[col].std()
    df3[col] = (df3[col] - mean_val) / std_val

# Save the cleaned and normalized DataFrame to a new CSV file
df3.to_csv('zScoreNormalized_data.csv', index=False)
df3.head(10)

,Timestamp,Nama,NIM,Jenis Kelamin,Tanggal Lahir,Kota,Provinsi,Kode POS,Jumlah pesanan Jeruk :,Jumlah pesanan Salak:,Jumlah pesanan Rambutan:,Jumlah pesanan Kelengkeng :,Jumlah pesanan Blimbing :,Harga Total
1,2023/09/06 11:53:20 AM GMT+7,R,1,Wanita,2023-09-07,s,s,1,-0.365667,-0.511416,-0.317901,0.156593,-0.582786,-0.324559
2,2023/09/06 11:56:47 AM GMT+7,Heksaloga,215314212,Pria,2023-09-06,Bantul,DI Yogyakarta,55791,-0.365667,-0.511416,-0.317901,-0.501360,-0.582786,-0.326621
3,2023/09/06 11:58:36 AM GMT+7,unknown,0,Wanita,2023-09-09,Yogja,we,42441,-0.397995,0.477035,-0.316635,-0.501360,0.543189,-0.316802
4,2023/09/06 12:07:04 PM GMT+7,R,1,Pria,2023-10-27,s,d,1,-0.397995,-0.511416,2.846045,-0.501360,-0.582786,2.845611
5,2023/09/06 12:08:10 PM GMT+7,Rahul,215151515,Wanita,2025-03-01,Penisvanilla,West Virginia,69420,-0.333339,-0.382488,-0.316635,-0.172384,-0.582786,-0.323448
6,2023/09/06 1:04:58 PM GMT+7,Wenda,215314190,Wanita,2006-09-14,Medan,Sumatra utara,227323,-0.333339,-0.339512,-0.317584,-0.369769,-0.301292,-0.323972
7,2023/09/07 7:54:39 PM GMT+7,Giacinta,215314211,Wanita,2003-06-22,Yogyakarta,Daerah Istimewa Yogyakarta,55563,2.834849,2.711795,-0.311573,2.788402,2.607477,-0.267249
8,2023/09/11 11:32:00 AM GMT+7,Prischia Ballo,215314166,Wanita,2004-04-20,Yogyakarta,Daerah Istimewa Yogyakarta,55584,-0.301010,-0.081655,-0.315686,-0.369769,-0.207461,-0.320212
9,2023/09/11 11:33:03 AM GMT+7,Adrianus,13040221130064,Pria,2002-12-27,Semarang,Jawa Tengah,forgorðŸ’€,-0.103483,-0.382488,-0.314863,-0.225020,0.272017,-0.318252
10,2023/09/11 11:48:40 AM GMT+7,Annaya,215314412,Wanita,2003-01-04,Kab. Serang,Banten,42182,-0.236353,-0.468440,-0.317268,-0.303974,-0.582786,-0.324495